body
{
	font-family: sans-serif;
	color: black;
	margin: 0;
	border: none;
	padding: 0;
}

table.main
{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

td.menu
{
	background: #ff9933;
	padding: 1ex;
}

td.content
{
	background: #ffcc99;
	width: 100%;
	padding: 1ex;
}

div.menu
{
	line-height: 1.5;
	padding-left: 1ex;
	padding-right: 2ex;
}

.menu hr
{
	width: 80%;
	margin-right: 100%;
}

table.settings td
{
	padding: 1ex;
}

table.rules
{
	width: 100%;
}

table.rules td
{
	padding-left: 1ex;
	padding-right: 1ex;
	padding-top: 1;
	padding-bottom: 1;
}

input.ruletext
{
	width: 100%;
}

a.local
{
	text-decoration: none;
	color: blue;
}

a.local:hover
{
	color: maroon;
}

a.local:active
{
	color: red;
}
